@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
   font-family: "Roboto Mono", monospace;
   margin: 0;
   padding: 0;
}
body  {
   /* background-color: var(--color-light-blue); */
      /* background-color: var(--color-mid-blue); */
      background-color: var(--dark-blue-background);
      /* padding: 0 90px; */

   }
:root {
         --dark-blue-background: #1A1A40;
         --secondary-blue-background: #1a2440;
         --secondary-dark-blue: #161038;
         --color-dark-blue: #1c1c21;
         --color-mid-blue: #16171d;
         --color-light-blue: #1f2128;
         --color-boring-blue: #51557E;
         --text-font: #5e5d7a;
         --text-font-hover: #5f46ba;
         --text-font-size: 16px;
}
a{
   color: white;
   text-decoration: none;
}

.header {
   background-color: var(--color-dark-blue);
   /* background-image: url(/images/anton.jpg);
   background-size:cover; */
   background-color: #1a2440;
   border-radius: 20px;
   /* background-color: var(--color-mid-blue); */
   /* background-color: var(--color-dark-blue); */
   color: white;
   /* width: 100%; */
   height: 5rem;
   margin: 1rem;
}
.header nav {
   align-items: center;
   display: flex;
   font-size: 20px;
   justify-content:space-between;
   padding: 1.6rem 2rem;
}
.gear-settings, .search-bar {
   cursor: pointer;
   transition: 0.6s ease;
}
.gear-settings:hover, .search-bar:hover {
   color: var(--text-font-hover);
}
.task-section {
   /* background-color: red; */
   color: white;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(6, 12vw);
   margin: 20px;
   /* width: calc(100% - 200px); */
}
/* Left Navivator */
.left-navigators  {
   background-color: var(--secondary-blue-background);
   border-radius: 20px;
   font-weight: bolder;
   font-size: 1rem;
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 4;
   margin-right: 20px;
   padding: 2rem;
}
/* Assigned Names */

.assigned {
   /* background-color: yellow; */
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.assigned2 {
   /* background-color: var(--color-boring-blue); */
   background-color: var(--text-font-hover);
   cursor: pointer;
}
.assigned > li {
   /* background-color: blue; */
   align-items: center;
   border-radius: 20px;
   cursor: pointer;
   /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
   display: flex;
   padding: 0.3rem;
   transition: 0.2s ease;
      /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}
.assigned > li:hover {
   /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
   /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
   background-color: var(--text-font-hover);
   /* border: solid var(--text-font-hover) 3px; */
}
.assigned-names ~ span {
   margin-left: 2rem;
}
.assigned > li, .task-list-down > li{
   list-style: none;
   margin: 0.1rem;
}
/* Task Dropdown */
.task-dropdown {
   /* background-color: red; */
   align-items: center;
   display: flex;
   justify-content: space-between;
   cursor: pointer;
   margin: 1.5rem 1rem 1rem 1rem;
   font-size: 1.2rem;
   font-weight: blder;
   transition: 0.6s ease;
}
.plus {
   /* margin-left: 12rem; */
   font-size: 1.2rem;
   font-weight: bolder;
   cursor: pointer;
   transition: all 0.6s ease;
}
.plus:hover {
   transform: rotate(90deg);
}
.task-list-down {
   font-size: 0.9rem;
}
.fa-circle {
   font-size: 0.8rem;
   margin-right: 0.3rem;
}
.c1 {color: #C2DED1;}
.c2 {color: #CE7BB0;}
.c3 {color: #6867AC;}
.c4 {color: #BB6464;}
.task-list {
   padding: 1rem;
}

/* TASK CONTAINER */
.task-container {
   background-color: var(--secondary-blue-background);
   border-radius: 20px;
   display: flex;
   justify-content: space-around;
   grid-column-start: 3;
   grid-column-end: 9;
   grid-row-start: 1;
   grid-row-end: 3;
   padding: 4rem;
}
.todo {
   /* background-color: #5f46ba; */
   /* border: solid var(--text-font-hover) 3px; */
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   border-radius: 10px;
   height: 250px;
   width: 340px;
   padding: 1rem;
   overflow: auto;
}
::-webkit-scrollbar {
   width: 10px;
   
}
::-webkit-scrollbar-track {
   background-color: var(--secondary-blue-background);
   border-radius: 0 10px 0 0;
}
::-webkit-scrollbar-thumb {
   /* background-color: var(--secondary-blue-background); */
   border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 9999px;
      background-color: var(--text-font-hover);
}
.todo-header, .ongoing-header {
   /* background-color: blue; */
   display: flex;
   font-size: 1.4rem;
   font-weight: bold;
   justify-content: space-between;
}
.todo-body  {
   /* align-items: center; */
   /* background-color: #BB6464; */
   /* border: solid var(--text-font-hover) 2px; */
   background-color: var(--text-font-hover);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 10px;
   cursor: pointer;
   display: flex;
   height: 5rem;
   padding: 0.8rem;
   margin: 1.2rem 0;
   position: relative;
   transition: 0.5s ease;
}
.todo-body:hover {
   transform: scale(1.02);
}
.title {
   margin-left: 1rem;
}
.specific-details {
   display: flex;
}
.todo-circle, .todo-circle2 {
   font-size: 1.2rem;
   margin-top: .2rem;
}
.ongoing {
   /* background-color: #5f46ba; */
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   border-radius: 10px;
   height: 250px;
   width: 340px;
   padding: 1rem;
}
.ongoing-body {
   position: relative;
   /* align-items: center; */
      /* background-color: #BB6464; */
      background-color: var(--text-font-hover);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      height: 5rem;
      padding: 0.9rem;
      margin: 2rem 0;
      transition: 0.5s ease;
   }
.ongoing-body:hover {
   transform: scale(1.02);
}
.todo-circle {
   margin-top: 1rem;
}
.ongoing-body-bottom {
   bottom: 10;
   font-size: 12px;
   position: absolute;
}
.assign {
   background-color: #35858B;
   border-radius: 10px;
   padding: 5px;
}
.deadline {
   background-color: #BB6464;
   border-radius: 10px;
   margin-left: 2.6rem;
   padding: 5px;
}
.deadline4 {
   margin-left: 1.2rem;
}
.deadine3 {
   margin-left: .2rem;
}
.item1 {
   grid-column-start: 2;
}

/* Task Detailed Container */
.task-detailed-container {
   margin-top: 30px;
   border-radius: 20px;
   background-color: var(--secondary-blue-background);
   display: grid;
   grid-column-start: 3;
   grid-column-end: 9;
   grid-row-start: 3;
   grid-row-end: 5;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(5, 4.8vw);
   padding: 2rem;

}
/* .detailed-body {
   grid-template-columns: repeat(4, 1fr);
         grid-template-rows: repeat(4, 14vw);
} */
.task-overview {
   /* background-color: red; */
   /* background-color: var(--secondary-blue-background); */
   border-radius: 10px;
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row-start: 1;
   grid-row-end: 5;
   padding: 2rem;
}
.task-percentage {
   align-items: center;
   /* background-color: red; */
   /* background: linear-gradient(to right, green 0%, green 60%, red 60%, red 100%); */
   display: flex;
   font-size: 1rem;
   /* justify-content: space-between; */
   height: 60px;
}
.task-percentage > span {
   margin-right: 4rem;
}
.percentage {
   background: linear-gradient(to right, #C2DED1 0%, #C2DED1 80%, var(--dark-blue-background) 65%, var(--dark-blue-background) 100%);
   border-radius: 10px;
   height: 1rem;
   width: 45rem;
}
.percentage2 {
   background: linear-gradient(to right, #CE7BB0 0%, #CE7BB0 10%, var(--dark-blue-background) 0%, var(--dark-blue-background) 100%);
}
.percentage3 {
   background: linear-gradient(to right, #5f46ba 0%, #5f46ba 10%, var(--dark-blue-background) 0%, var(--dark-blue-background) 100%);
}
.percentage4 {
   background: linear-gradient(to right, #BB6464 0%, #BB6464 15%, var(--dark-blue-background) 0%, var(--dark-blue-background) 100%);
}
.task-graph-percentage {
   margin-left: 15rem;
   /* height: 40px; */
}
/* .graph {
   width: 300px;
   height: 300px;
   border-radius: 100%;
   background: linear-gradient(45deg, #C2DED1 60%, #C2DED1 0%), linear-gradient(-45deg, #CE7BB0 0%, #CE7BB0 0%), linear-gradient(-45deg, #5f46ba 0%, #5f46ba 0%), linear-gradient(45deg, #BB6464 0%, #BB6464 0%);
   background-size: 50% 50%;
   background-position: 0% 0%, 100% 0%, 0 100%, 100% 100%;
   background-repeat: no-repeat;
} */
/* .graph {
   background:
      radial-gradient(circle closest-side,
         transparent 66%,
         var(--secondary-blue-background) 0),
      conic-gradient(#c2ded1 0,
         #c2ded1 65%,
         #ce7bb0 0,
         #ce7bb0 75%,
         #5f46ba 0,
         #5f46ba 85%,
         #bb6464 0,
         #bb6464 100%);
   width: 0;
   height: 20rem;
   margin: 0;
} */

